<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">

    <test name="Test on Chrome" >
        <parameter name="URL" value="https://dev.vivayalive.com/"/>
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="VivayaTests.WhatWeOfferLinks"></class>
        </classes>
    </test>
    <test name="Test on Firefox" >
        <parameter name="URL" value="https://dev.vivayalive.com/"/>
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="VivayaTests.WhatWeOfferLinks"></class>
        </classes>
    </test>

</suite>